<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}IamSeb w/ Symfony
			{% endblock %}
		</title>
		<link rel="icon" href="{{asset('build/assets/imgs/symfony.ico')}}"/>{# <link
																												rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
		{# We use the gsap CDN for the responsive navbar #}<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"> </script>
		<!-- Plausible script for analytics-->
		<script defer data-domain="iamseb.dev" src="https://plausible.sebdevcloud.synology.me/js/script.js"></script>
		<!-- Primary Meta Tags -->
		<title></title>
		<meta name="title" content="IamSeb Portfolio"/>
		<meta
		name="description" content="👋 Hey there! I'm Sébastien, a passionate full-stack web developer with a love for crafting seamless digital experiences. With a blend of creativity and technical work, I thrive on transforming ideas into functional and visually stunning applications."/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="https://iamseb.dev/"/>
		<meta property="og:title" content="IamSeb Portfolio"/>
		<meta property="og:description" content="👋 Hey there! I'm Sébastien, a passionate full-stack web developer with a love for crafting seamless digital experiences. With a blend of creativity and technical work, I thrive on transforming ideas into functional and visually stunning applications."/>
		<meta
		property="og:image" content="./meta_screenshot.webp"/>

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image"/>
		<meta property="twitter:url" content="https://iamseb.dev/"/>
		<meta property="twitter:title" content="IamSeb Portfolio"/>
		<meta property="twitter:description" content="👋 Hey there! I'm Sébastien, a passionate full-stack web developer with a love for crafting seamless digital experiences. With a blend of creativity and technical work, I thrive on transforming ideas into functional and visually stunning applications."/>
		<meta
		property="twitter:image" content="./meta_screenshot.webp"/>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{# We place the flash messages here #}
		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger" role="alert">
				<strong>Arf!</strong>
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success" role="alert">
				<strong>Nice!</strong>
				{{ message }}
			</div>
		{% endfor %}

		{# We place the Header component here #}
		{% block header %}
			{% include 'components/header/header.html.twig' %}
		{% endblock header %}

		{# We place the content of the page here #}
		{% block body %}{% endblock %}

		{# We place the Footer component here #}
		{% block footer %}
			{% include 'components/footer/footer.html.twig' %}
		{% endblock footer %}
	</body>
</html></body></html>
